@font-face {
    font-family: Outfit;
    src: url(./font/Outfit-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
}

main{
    width: 40ch;
    min-height: 50vh;
    background-color: white;
    border-radius: 15px;
    position: relative;
    margin-top: 13vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2ch;
    box-shadow: 0 0 1;
}


main * {
    background-color: inherit;
    font-family: Outfit, Helvetica, sans-serif;
}


main img {
    display: block;
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
}

main h1{
    font-size: 1.40em;
    width: 18ch;
    margin: 0 auto;
    text-align: center;
    padding: 1em 0;
}

main p {
    font-size: 1rem;
    font-weight: 500;
    color: hsl(220, 15%, 55%);
    margin-top: 1em;
}

footer {
    position: fixed;
    bottom: 0;
}
